<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Tasks</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col d-col w-100">
            <div>
              <form action="/tasks" method="post">
                <input type="text" class="form-control" name="title">
                <button class="btn btn-primary">Enviar</button>
              </form>
            </div>
            <!-- Validacion opcional -->
            <div>
            <% if (typeof errors != 'undefined') { %>
            <p style="color:red">La tarea debe contener mínimo 3 caracteres</p>
            <% } %>
          </div>
            <!-- Validacion opcional -->
    
          </div>
        </div>
    
    
      </div>
    <h1>Listado de Tasks:</h1>
    <ul>
        <% for (let i = 0; i < tasks.length; i++){ %>
            <li>
            <a href="/tasks/<%=tasks[i].id%>">
                <%=tasks[i].task%>
            </a>
            <form method="POST" action="/tasks/<%=tasks[i].id%>?_method=DELETE">
                <button>
                    Borrar
                </button>
            </form>
            </li>
       <% } %>
    </ul>
</body>
</html>